<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 

  
</head>    

<body>
    <div class="container-fluid">
        <div class="row">
            {% include "partials/navbar.html" %}
        <div class="col-md-10 p-4">
            <div class='d-flex align-items-center mb-4'>
                <h1>Doctor Management</h1>
                <button class="btn btn-secondary ml-auto"><i class="fas fa-user-shield mr-2"></i>Admin</button>
            </div>
            <!-- <div class="d-flex align-items-center mb-4">
                <i class="fa-solid fa-magnifying-glass mr-2 "></i>
                <input class="form-control border-light mr-2"  type="search" placeholder="Search doctors...">
                <a href="add" class="btn btn-sm btn-primary">Add Doctor</a>
            </div> -->
            <form method="GET">
                <div class="d-flex align-items-center mb-4">
                    <i class="fa-solid fa-magnifying-glass mr-2"></i>
                    <input 
                    class="form-control border-light mr-2" type="search" name="q" placeholder="Search doctors..." value="{{ request.GET.q }}">
                    <button class="btn btn-primary mr-2" type="submit">Search</button>
                    <a href="add" class="btn btn-sm btn-success">Add Doctor</a>
                </div>
            </form>

            <!-- Table -->
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Doctor Name</th>
                        <th>Specialization</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {%for doctors in doc_list%}
                    <tr>
                        <td>{{doctors.name}}</td>
                        <td>{{doctors.Specialization}}</td>
                        <td>
                            <a href="{% url 'docprofile' doctors.id %}" class="btn btn-sm btn-primary">View </a> 
                            <button class="btn btn-sm btn-warning">Edit</button>
                           <a href="/deletedoctor/{{ doctors.id }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete?')">Delete</a>
                        </td>
                    </tr>
                         {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    </div>
    </body>
</html>